main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
}

section {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--primary-color);
    color: var(--font-color);
    line-height: 1.5;
}

#hero {
width: 100%;
height: 30vh;
}

#whyUs {
width: 40%;
float: left;
}

#callToAction {
width: 60%;
float: left;
}

@media (max-width: 800px) {
#whyUs {
    width: 100%;
}
#callToAction {
    width: 100%;
}
}
