:root {
  --primary-color: #104d2b;
  --secondary-color: #190646;
  --font-color: #866599;
  --secondary-font-color: #94040c;
}

* {
  font-family: "Young Serif", serif;
}

h1 {
  font-family: "Arbutus", serif;
  font-weight: 700;
  margin: 20px;
  font-size: 40px;
}

h2 {
  font-family: "Smokum", serif;
  font-size: 40px;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: plum;
}

nav {
  position: absolute;
  left: 400px;
  top: 40px;
  font-family: "Young Serif", serif;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

.mobileFeature {
  display: none;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: plum;
  height: 80px;
}

#copyright {
  position: absolute;
  bottom: 35px;
  right: 35px;
  font-size: 10px;
}

@media screen and (min-width: 900px) {
  .disappearing {
    display: block;
  }

  .mobileFeature {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .disappearing {
    display: none;
  }

  .mobileFeature {
    display: block;
  }
}

a {
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  outline: none;
  text-decoration: underline;
  color: var(--font-color);
}

a:active {
  color: var(--primary-color);
}
