main {
  display: grid;
  grid-template: 1fr 2fr 2fr / 1fr 1fr 1fr;
}
.heading-container {
  grid-area: 1/1/1/4;
}

#dealersCards {
  grid-area: 2/2/3/3;
}
#playersCards {
  grid-area: 3/2/4/3;
}

ol {
  display: flex;
}
ol li {
  background-color: var(--quinary-color);
  padding: 5px;
  height: 300px;
  width: 300px;
  margin: 10px;
  word-wrap: normal;
  position: relative;
  border-radius: var(--radius);
  border: 2px solid var(--tertiary-color);
}
ol li:hover::after {
  content: attr(data-blackjack-value);
  position: absolute;
  background: rgba(73, 77, 51, 0.7);
  color: #ee5610;
  top: 70px;
  left: 10px;
  box-sizing: border-box;
  width: 60px;
  padding: 20px;
}

#playersActions {
  grid-area: 2/3/4/4;
  justify-content: space-around;
}

button:hover::before {
  content: attr(data-user-hints);
  position: absolute;
  top: 400px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  width: 220px;
  padding: 20px;
  border-radius: var(--radius);
  border: 2px solid var(--tertiary-color);
}
button:active::before {
  background-color: #ff7b36;
}



